{% extends "rsr/myakvo/myakvo_base.html" %}
{% load i18n %}
{% load url from future %}


{% block title %}{% trans 'Noties' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
  <li id="last_breadcrum_item">{% trans 'Notices' %}</li>
{% endblock breadcrum_items %}


{% block content %}
  <h2>{% trans "Notices" %}</h2>
  
{% endblock content %}


{% comment %}
  
 

{% extends "rsr/base_sheet.html" %}

{% load humanize i18n pagination_tags rsr_tags %}
{#% load timezone_filters %#}

{% block title %}{{block.super}} - {% trans 'Notices' %}{% endblock %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">{% trans 'Notices' %}</li>
{% endblock breadcrum_items %}

{% block pre_content %}
  {% include "rsr/myakvo/navigation.html" %}
{% endblock pre_content %}

{% block content %}

    {% include "rsr/myakvo/navigation.html" %}
    
    <h1>{% trans "All notices (paginated)" %}</h1>
    
    <div>

    {% include "notification/notices_list.html" %}

    </div>
    
    {% paginate %}
    
{% endblock content %}
{% endcomment %} 
