{% extends "rsr/myakvo/myakvo_base.html" %}
{% load i18n rsr_tags %}
{% load url from future %}


{% block title %}{% trans 'Manage password' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
<li id="last_breadcrum_item">{% trans 'Manage password' %}</li>
{% endblock breadcrum_items %}

{% block content %}
  <h2>{% trans "Manage password" %}</h2>
  <p class="grey tiny">
    {% trans "Your user name and organisation are fixed. If you need special assistence, please contact" %}
    <a href="mailto:admin@akvo.org">admin@akvo.org</a>.
  </p>
  <p class="tiny">
    {% trans "Your user name" %}: <b>{{request.user}}</b>
  </p>
  <p class="tiny">
    {% trans "Your organisation" %}: <b>{{request.user.get_profile.organisation_name}}</b>
  </p>
  <hr />
  <h3>{% trans "Edit your real name" %}</h3>
  <p class="grey tiny">
    {% trans "Your real name will be displayed when you make updates or comments on the site." %}
  </p>
  <form method="post" action="" name="password_change_form">
    {% csrf_token %}
    {% if form.non_field_erros %}
      {% form_text_field  '' form.non_field.errors '' %}
    {% endif %}
    {% form_text_field form.old_password form.old_password.errors 'Enter your current password' %}
    
    {% form_text_field form.new_password1 form.new_password1.errors 'Enter a new password' %}
    {% form_text_field form.new_password2 form.new_password2.errors 'Retype the new password to confirm' %}
    <div class="text_center">
      <a class="aqua awesome" href="javascript:document.password_change_form.submit();">
        {% trans 'Save changes' %}
      </a>
    </div>
  </form>

{% endblock content %}
