{% extends "rsr/myakvo/myakvo_base.html" %}
{% load i18n rsr_tags %}
{% load url from future %}


{% block title %}{% trans 'User information' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
  <li id="last_breadcrum_item">{% trans 'User information' %}</li>
{% endblock breadcrum_items %}


{% block content %}
  <h2>{% trans "User information" %}</h2>
  <p class="grey tiny">
    {% trans "Your user name and organisation are fixed. If you need special assistence, please contact" %}
    <a href="mailto:admin@akvo.org">admin@akvo.org</a>.
  </p>
  <p class="tiny">
    {% trans "Your user name" %}: <b>{{request.user}}</b>
  </p>
  <p class="tiny">
    {% trans "Your organisation" %}: <b>{{request.user.get_profile.organisation_name}}</b>
  </p>
  <p class="tiny">
    {% url 'password_change' as password_change_url%}
    {% blocktrans  %}
        You can also <a href="{{password_change_url}}">change your password</a>.
    {% endblocktrans %}
  </p>
  <hr />
  <h3>{% trans "Edit your real name" %}</h3>
  <p class="grey tiny">
    {% trans "Your real name will be displayed when you make updates or comments on the site." %}
  </p>
  <form method="post" action="" name="account_change_form">
    {% csrf_token %}
    {% if form.non_field_erros %}
      {% form_text_field  '' form.non_field.errors '' %}
    {% endif %}
    {% form_text_field form.first_name form.first_name.errors 'First (given) name' %}
    {% form_text_field form.last_name form.last_name.errors 'Last (family) name' %}
    <div class="text_center">
      <a class="aqua awesome" href="javascript:document.account_change_form.submit();">
        {% trans 'Save changes' %}
      </a>
    </div>
  </form>
{% endblock content %}