{% extends "rsr/myakvo/myakvo_base.html" %}
{% load i18n %}
{% load url from future %}


{% block title %}{% trans 'SMS updates setup' %}{% endblock title %}

{% block breadcrum_items %}
{{block.super}}
  <li id="last_breadcrum_item">{% trans 'SMS updates setup' %}</li>
{% endblock breadcrum_items %}


{% block content %}
  <div style="float:left; width:45%;">
    <h2>{% trans "SMS updates setup" %}</h2>
    <p class="grey tiny">
      {% trans "Send project updates to Akvo via SMS using your mobile phone" %}
    </p>
    <p class="tiny">
      {% trans "Your mobile phone number:" %}
    </p>
    <a class="aqua awesome" href="{% url 'myakvo_mobile_number' %}">
      {% trans "Register phone..." %}
    </a>
    {% if sms_updating_enabled %}
      <p>&nbsp;</p>
      <h2>{% trans "Select project to update via SMS" %}</h2>
      <p class="grey tiny">
        {% trans "Each project has a unique phone number" %}
      </p>
      {% if form.fields.project.choices %}
      <form method="post" name="add_project_form">
        {% csrf_token %}  
        <div style="float:left; width:280px;">
          {{form.project}}
        </div>
        <div style="float:left; width:130px;">
          <a style="float:right; margin-right:5px" class="aqua awesome" href="javascript:document.add_project_form.submit();">
            {% trans "Add project" %}
          </a>
        </div>
      </form>
      {% endif %}
      <div class="clear"></div>
      <p>&nbsp;</p>
      {% for reporter in profile.reporters.all %}
        {% if reporter.project %}    
          <div style="border:1px solid #BCBEC5; padding:3px; {% if not forloop.first %} border-top:none;{% endif %}">
            <div style="float:left; width:280px">
              <p class="tiny" style="margin-bottom:5px;">
                {{reporter.project.pk}} - {{reporter.project.name}}<br />
                {% trans 'Project phone number:' %}
                <span class="bold"> {{reporter.gw_number}}</span>
              </p>
            </div>
            <div style="float:left; width:130px; padding-top:5px;">
              <a style="float:right; margin-right:5px" class="aqua awesome" href="{% url 'myakvo_cancel_reporter' reporter.id %}">
                {% trans "Discontinue" %}
              </a>
            </div>
            <div class="clear"></div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>
  <div style="float:right; width:45%">
    <h2>{% trans "SMS project update setup instructions" %}</h2>
      <ol class="tiny" style="margin-top:10px">
        <li>
          {% trans "Register your mobile phone on this page." %}
        </li>
        <li>
          {% trans "Next, validate you mobile phone:" %}
          <ul style="font-size:1em; margin-top:5px;">
            <li>
              {% trans "We will send an email to your nomal email account with a validation code*" %}
            </li>
            <li>
              {% trans "We will also send an SMS message using your email validation code." %}
            </li>
            <li>
              {% trans "Reply to the SMS message using your email validation code." %}
            </li>
          </ul>
        </li>
        <li>
          {% trans "After those steps are complete, return to this page:" %}
          <ul style="font-size:1em; margin-top:5px;">
            <li>{% trans "Choose the project which you want to update via SMS." %}</li>
            <li>{% trans "We will send an SMS message to your mobile phone with a project phone number." %}</li>
          </ul>
        </li>
        <li>{% trans "Send SMS messages to the prooject phone nuymber:" %}
          <ul style="font-size:1em; margin-top:5px;">
            <li>{% trans "Your SMS messages will appear on Akvo.org as project updates." %}</li>
          </ul>
        </li>
      </ol>
      <p class="grey nano">
        {% trans "* Will also appear as a Notice below." %}
  </div>
  <div class="clear"></div>
  <p>&nbsp;</p>
  <hr />
  <h2>{% trans "Recent notices" %}</h2>
  <p class="tiny">{% trans "No recent notices" %}</p>
  <hr />
  <p class="tiny"><a href="#">{% trans "Show all recent notices" %}</a></p>
  
  <hr />
  <div style="float:left; width:20%">
    <p class="tiny bold">2011-04-20 20-01</p>
    <p class="tiny">{% trans "Phone number added" %}</p>
  </div>
  <div style="float:left; width:75%; margin-left:15px">
    <p class="tiny">
      {% trans "Your mobile phone number" %}, 15105023302, {% trans "has been registred" %}.
    </p>
   <p class="tiny">
     {% trans "We have send an SMS message to this number. Please validate your mobile phone by replying via SMS with the following code only:" %}
  </p>
  <p class="tiny bold" style="text-transform:uppercase">
    C8ELMR
  </p>
  <p class="tiny">
    {% trans "If our SMS message didn&#x27;t reach you for some reason, please send an SMS with the code to the following phone number:" %}
  </p>
  <p class="tiny bold">
    467301203262115
  </p>
  <p class="tiny">
    {% trans "Please return to this page and select the project for which you wish to enable SMS updates." %}
   </p>
  </div>
  <div class="clear"></div>
{% endblock content %}
