{% extends "rsr/base_sheet.html" %}
{% load i18n permissions_tags %}
{% load url from future %}

{% block breadcrum_items %}
  {{block.super}}
  <li><a href="{% url 'myakvo' %}"><span>{% trans 'My Akvo' %}</span></a></li>
{% endblock breadcrum_items %}

{% block pre_content %}
  <h1>{% trans "My" %} Akvo</h1>

  <div id="myakvo_navigation">
    {% url 'myakvo' as url_myakvo %}
    {% if request.path = url_myakvo %}
      <b>{% trans "User information" %}</b> <span class="seperator">|</span>
    {% else %}
      <a href="{{url_myakvo}}">{% trans "User information" %}</a> <span class="seperator">|</span> 
    {% endif %}

    {% url 'password_change' as url_rsr_password_change %}
    {% if request.path = url_rsr_password_change %}
      <b>{% trans "Password" %}</b> <span class="seperator">|</span>
    {% else %}
      <a href="{{url_rsr_password_change}}">{% trans "Password" %}</a> <span class="seperator">|</span> 
    {% endif %}

    {% if request.user.get_profile.has_perm_add_sms_updates %}
      
      {% url 'myakvo_mobile' as url_myakvo_mobile %}
      {% if request.path = url_myakvo_mobile %}
        <b>{% trans "SMS updates" %}</b> <span class="seperator">|</span>
      {% else %}
        <a href="{{url_myakvo_mobile}}">{% trans "SMS updates" %}</a> <span class="seperator">|</span> 
      {% endif %}

      {% url 'notification_notices' as url_notification_notices %}
      {% if request.path = url_notification_notices %}
        <b>{% trans "Notices" %}</b> <span class="seperator">|</span>
      {% else %}
        <a href="{{url_notification_notices}}">{% trans "Notices" %}</a> <span class="seperator">|</span> 
      {% endif %}

      {% url 'notification_notice_settings' as url_notification_notice_settings %}
      {% if request.path = url_notification_notice_settings %}
        <b>{% trans "Notice preferences" %}</b>
      {% else %}
        <a href="{{url_notification_notice_settings}}">{% trans "Notice preferences" %}</a> 
      {% endif %}
      
    {% endif %}
  </div>
{% endblock pre_content %}
