{% load i18n thumbnail rsr_filters %}

{% if projects %}
    <script>
        // Grab variable definitions from the template
        var markers = [ {% for project in projects %}
            {% for location in project.locations.valid %}
                {
                    icon: {
                        image: '{{ marker_icon }}',
                        {% if map_type == 'static' %}
                            iconsize: [10, 17],
                            shadowsize: [10, 17]
                        {% else %}
                            iconsize: [20, 34],
                            shadowsize: [20, 34]
                        {% endif %}
                    },
                    {% if map_type != 'static' %}
                        html: '<div class="mapInfoWindow">' +
                              '<a href="' + '{{ project.get_absolute_url }}' + '">' +
                              '{{ project.name|smart_truncate:35}}</a><br>' +
                              '<a href="' + '{{ project.get_absolute_url }}' + '">' +
                              '<img src="{% thumbnail project.current_image 100x100 autocrop sharpen %}" alt="" /></a>' +
                              '<p class="small grey" style="margin:0;">{% trans 'Location' %}:' +
                              '{{ project.primary_location.country.get_continent_display }}, ' +
                              '{{ project.primary_location.country }}, ' +
                              '{{ project.primary_location.city }}</p>' +
                              '</div>',
                    {% endif %}
                    latitude: {{ location.latitude }},
                    longitude: {{ location.longitude }},
                    popup: false,
                },
            {% endfor %}
        {% endfor %} ];
        var zoom = {{ zoom }};
        // Now load the the map in the template!
    </script>
{% endif %}
