{% load i18n %}

<script type="text/javascript">
    // Grab variable definitions from the template
    var markers = [ {% for location in object.locations.valid %}
        {
            icon: {
                image: '{{ marker_icon }}',
                shadow: ''
            },
            latitude: {{ location.latitude }},
            longitude: {{ location.longitude }},
            popup: false
        },
    {% endfor %} ];
    var zoom = {{ zoom }};
    // Now load the map in the template!
</script>
